.header{
    display: block;
    height: 50px;
}

.header ul{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    height: 50px;
}

.header ul li{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkred;
    height: 50px;
}

.header ul li:hover{
    cursor: pointer;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header ul li a{
    color: white;
}

.header ul li a:hover{
    color: yellow;
}

.header ul li a:active{
    color: brown;
}



